html{
    scroll-behavior: smooth;
}
header{
    text-align: center;
    border-radius: 15px;
    background: #fffaa3; 
    height: 110px;
    box-shadow: 2px 2px 2px;
    position: relative;
}
header h1{
    color: #5DA24D;
}
.logo{
    width: 160px;
    position: absolute;
    left: 20px;
    top: 20px;
}
nav{
    margin: 25px 50px 0;
    padding: 4px;
}
nav a{
    text-decoration: none;
    color: 	#5DA24D;
    padding: 5px 20px;
    font-family: 'Akshar';
    font-size: 22px;
    border-radius: 10px ;
    background:#FFF547;
}
nav a:hover{
    color: #355c2c;
    background-color: #FFBD35;
    transition: 0.7s;
}

.deskripsiBiotek{
    color: #fffdda;   
    font-size: 25px;
    text-shadow: 0px 0px 6px #4C5C2D;
    text-align: center;
    margin: auto;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(BG\ WEB.png);
}
section.home{
    height: 800px;
}
.containerAbout{
    background-color: #fbf2a1;
    color: #5DA24D;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    font-size: 20px;
}
.containerAbout img{
    width: 300px;
}
.textAbout h3{
    font-size: 45px;
}
.textAbout p{
    text-align: justify;
}
.deskHowto{
    background-color: 	#ffe887;
    color: #33250a ;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.deskHowto img{
    width: 250px;
}
.carabuat h2{
    text-align: center;
    color: #995848;
}
.carabuat ol{
    color: #ad796c;
    font-size: 20px;
}

.cardProfile{
    background-color:#ffcd6f;
    padding: 15px;
    width:300px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}
.cardProfile img{
    width: 55%;
}
.medsos{
    width: 100%;
    text-align: center;
    height:40px;
    padding-top:5px;
}
.medsos a{
    text-decoration: none;
    padding: 10px 10px;
    font-size: 24px;
}
.cardProfile h3{
    color: #eb8378;
}
.cardProfile p{
    color: #ec7868;
}
